.b_stomach_1{
    
    position: absolute;
    top: 15.9rem;
    left: 16rem;
    width: 8.5%;
    height: 10%;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 4;
    border: none;
    cursor: pointer;
   
}
.b_stomach_2{
    
    position: absolute;
    top: 17.8rem;
    left: 18.7rem;
    width: 8.5%;
    height: 10%;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 4;
    border: none;
    cursor: pointer;
   
}
.b_stomach_3{
    
    position: absolute;
    top: 21.3rem;
    left: 18.8rem;
    width: 8.5%;
    height: 10%;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 4;
    border: none;
    cursor: pointer;
}
.b_stomach_4{
   
    position: absolute;
    top: 22.95rem;
    left: 16rem;
    width: 8.5%;
    height: 9%;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 4;
    border: none;
    cursor: pointer;
}
.b_stomach_5{
    
    position: absolute;
    top: 21.3rem;
    left: 13.4rem;
    width: 8.5%;
    height: 10%;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 4;
    border: none;
    cursor: pointer;
}
.b_stomach_6{
    
    position: absolute;
    top: 17.8rem;
    left: 13.4rem;
    width: 8.5%;
    height: 10%;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 4;
    border: none;
    cursor: pointer;
}
.b_stomach_7{
   
    position: absolute;
    top: 20rem;
    left: 16.2rem;
    width: 7.5%;
    height: 7.5%;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 4;
    border: none;
    cursor: pointer;
}
.b_stomach_8{
    
    position: absolute;
    top: 31.5rem;
    left: 13.5rem;
    width: 22%;
    height: 7.5%;
    border-radius: 10px;
    opacity: 0.1;
    z-index: 4;
    border: none;
    cursor: pointer;
}
@media only screen and (max-width: 412px) {
    .b_stomach_1{
    
        position: absolute;
        top: 10.5rem;
        left: 8.7rem;
        width: 7.5%;
        height: 9%;
        border-radius: 50%;
        opacity: 0.1;
        z-index: 4;
        border: none;
        cursor: pointer;
       
    }
    .b_stomach_2{
        
        position: absolute;
        top: 11.5rem;
        left: 10rem;
        width: 7.5%;
        height: 8.5%;
        border-radius: 50%;
        opacity: 0.1;
        z-index: 4;
        border: none;
        cursor: pointer;
       
    }
    .b_stomach_3{
        
        position: absolute;
        top: 13.5rem;
        left: 10.15rem;
        width: 7.5%;
        height: 8.5%;
        border-radius: 50%;
        opacity: 0.1;
        z-index: 4;
        border: none;
        cursor: pointer;
    }
    .b_stomach_4{
        
        position: absolute;
        top: 14.2rem;
        left: 8.7rem;
        width: 7.5%;
        height: 8.5%;
        border-radius: 50%;
        opacity: 0.1;
        z-index: 4;
        border: none;
        cursor: pointer;
    }
    .b_stomach_5{
        
        position: absolute;
        top: 13.5rem;
        left: 7.2rem;
        width: 7.5%;
        height: 8.5%;
        border-radius: 50%;
        opacity: 0.1;
        z-index: 4;
        border: none;
        cursor: pointer;
    }
    .b_stomach_6{
        
        position: absolute;
        top: 11.5rem;
        left: 7.2rem;
        width: 7.5%;
        height: 8.5%;
        border-radius: 50%;
        opacity: 0.1;
        z-index: 4;
        border: none;
        cursor: pointer;
    }
    .b_stomach_7{
       
        position: absolute;
        top: 12.85rem;
        left: 8.8rem;
        width: 6.7%;
        height: 6%;
        border-radius: 50%;
        opacity: 0.1;
        z-index: 4;
        border: none;
        cursor: pointer;
    }
    .b_stomach_8{
        
        position: absolute;
        top: 18.9rem;
        left: 7.2rem;
        width: 22.5%;
        height: 6.5%;
        border-radius: 10px;
        opacity: 0.1;
        z-index: 4;
        border: none;
        cursor: pointer;
    }
}